<%= form_for @user do |f| %>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
    
    <table width="100%">
      <tr>
        <td width="50%">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </td>
        <td>
          <%= f.label :c1 %>
          <%= f.collection_select :c1, Character.order(:name),:id,:name, include_blank: false %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :c2 %>
          <%= f.collection_select :c2, Character.order(:name),:id,:name, include_blank: false %>
        </td>
        <td>
          <%= f.label :c3 %>
          <%= f.collection_select :c3, Character.order(:name),:id,:name, include_blank: false %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :c4 %>
          <%= f.collection_select :c4, Character.order(:name),:id,:name, include_blank: false %>
        </td>
        <td>
          <%= f.label :c5 %>
          <%= f.collection_select :c5, Character.order(:name),:id,:name, include_blank: false %>
        </td>
      </tr>
    </table>
    <%= f.submit 'Submit', :class => 'button' %>
<% end %>
